doctype html

html(lang="RU")

    head

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="description" content="Тестовое задание, AISA")

        title Тестовое задание, AISA

        link(rel="preload" href="fonts/Montserrat-Medium.woff2" as="font")
        link(rel="preload" href="fonts/Roboto-Regular.woff2" as="font")
        link(type="text/css" rel="stylesheet" href="css/styles.min.css")
        link(type="text/css" rel="stylesheet" href="css/normalize.css")
        
    body
        div(class="page-wrapper")
            header(class="page-header")
                img(class="page-header__logo")
            main(class="page-content")
                div(class="page-content__top-wrapper")
                    article(class="page-content__headline headline")
                        h2(class="headline__header") Интересный заголовок
                        p(class="headline__content") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris nisi, cursus quis facilisis dictum, tempor non ex. Duis facilisis enim mi, vitae rhoncus velit dapibus non. Proin consequat non metus id tempus. Sed porttitor vitae ex molestie porta. Nulla nec odio id nulla interdum congue vitae in dolor. Aenean molestie, quam in auctor convallis, tortor tortor interdum leo, et auctor elit odio in erat. Sed arcu massa, consectetur vitae leo id, cursus elementum tortor. Donec efficitur lectus vel nibh ornare, ut tempus est convallis. Ut imperdiet erat eu tristique rutrum. Suspendisse consequat magna ligula, id pulvinar nunc venenatis aliquam.
                        button(class="headline__button") Нажми меня!
                    img(class="page-content__image")
                div(class="page-content__bottom-wrapper")
                    section(class="page-content__advantages advantages")
                        img(class="advantages__image")
                        div(class="advantages__wrapper")
                            h3(class="advantages__header") Дополнительные преимущеста
                            ul(class="advantages__list")
                                li(class="advantages__item")
                                    p(class="advantages__info") Разносторонняя пятиступенчатая громкостная пирамида
                                li(class="advantages__item")
                                    p(class="advantages__info") В первом приближении варьируется изоритмический кризис
                                li(class="advantages__item")
                                    p(class="advantages__info") Как и реверансы в сторону ранних "роллингов"
                                li(class="advantages__item")
                                    p(class="advantages__info") Эти слова совершенно справедливы, однако цикл иллюстрирует рефрен
                    section(class="page-content__reviews reviews")
                        img(class="reviews__image")
                        div(class="reviews__wrapper")
                            h3(class="reviews__header") Отзывы
                            p(class="reviews__content") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris nisi, cursus quis facilisis dictum, tempor non ex. Duis facilisis enim mi, vitae rhoncus velit dapibus non. Proin consequat non metus id tempus. Sed porttitor vitae ex molestie porta. Nulla nec odio id nulla interdum congue vitae in dolor.
            footer(class="page-footer")
        script(src="js/script.js")    
        